.layout_container {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    overflow: hidden;
}
.layout_container.dark {
    background: var(--blue-dark);
}
